<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for user in users %}
        <p>{{ user.email }}</p>
    {% endfor %}

    {% for user_comment in user_comments %}
        {$ for comment in user_comment %}
            <p>{{ comment.content }}</p>
        {% endfor user_comment %}
    {% endfor user_comment %}
    
</body>
</html>