{% load static %}
<!-- Navigation -->
<div class="navbar section no-padding" role="navigation">
    <!-- Heading -->
    <div class="heading">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 hidden-xs">
                    <ul class="social">
                        <li><a href="#" class="fa fa-instagram"></a></li>
                        <li><a href="#" class="fa fa-facebook-square"></a></li>
                        <li><a href="#" class="fa fa-twitter-square"></a></li>
                    </ul>
                </div>
                <div class="col-sm-8">
                    <div class="finder">
                        <a href="#">
                            <span class="fa fa-map-marker"></span> Find our beer
                        </a>
                    </div>
                    <div class="cart">
                        <a href="cart.html">
                            <span class="fa fa-shopping-cart"></span> Empty
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="navbar-header">
            <a href="index.html" class="logo" title="Craft beer landing page">
                <img src="{% static 'images/logo.png' %}" alt="Craft Beer HTML Template">
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar top-bar"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
            </button>
        </div>  
        <div class="navbar-collapse collapse">
            <ul id="menu-primary" class="nav navbar-nav">
                <li class="active">
                    <span>
                        <a href="/">Home</a>
                    </span>
                </li>
                <li class="dropdown">
                    <span>
                        <a href="our-beer.html">Alcohol</a>
                    </span>
                    <ul class="dropdown-menu">
                        <li><a href="our-beer.html">Beer</a></li>
                        <li><a href="our-beer.html">Wine</a></li>
                        <li><a href="our-beer.html">Cocktail</a></li>
                    </ul>
                </li>
                <li>
                    <span>
                        <a href="our-story.html">Recommend</a>
                    </span>
                </li>
                <li class="dropdown">
                    <span>
                        <a href="blog.html">Blog</a>
                    </span>
                    <ul class="dropdown-menu">
                        <li><a href="blog-single.html">Single post</a></li>
                    </ul>
                </li>
                <li>
                    <span>
                        <a href="contact.html">Contact</a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Hero -->
<div id="hero" class="carousel slide carousel-fade section no-padding" data-ride="carousel">
    
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#hero" data-slide-to="0" class="active"></li>
        <li data-target="#hero" data-slide-to="1"></li>
        <li data-target="#hero" data-slide-to="2"></li>
    </ol>
    
    <!-- Wrapper for slides -->
    <div class="carousel-inner">

        <div class="item active" style="background-image: url(http://placehold.it/1500x730)">
            <!-- Content -->
            <div class="container">
                <div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0" data-translatey="100">
                    <div class="col-md-10 col-md-offset-1">
                        <h1>Over one hundred flavours of</h1>
                        <h2>Specially <br />crafted beer</h2>
                        <a href="#" class="btn btn-default">
                            <span>Explore</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item" style="background-image: url(http://placehold.it/1500x730)">
            <!-- Content -->
            <div class="container">
                <div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0" data-translatey="100">
                    <div class="col-md-10 col-md-offset-1">
                        <h1>We use only the finest ingredients to create the</h1>
                        <h2>The perfect <br />craft beer</h2>
                        <a href="#" class="btn btn-default">
                            <span>Explore</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item" style="background-image: url(http://placehold.it/1500x730)">
            <!-- Content -->
            <div class="container">
                <div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0" data-translatey="100">
                    <div class="col-md-10 col-md-offset-1">
                        <h1>The perfect template to compliment</h1>
                        <h2>Your brewery</h2>
                        <a href="#" class="btn btn-default">
                            <span>Buy template</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>