{% load static %}
<!-- Navigation -->
<div class="navbar section no-padding" role="navigation">
    <!-- Heading -->
    <div class="heading">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 hidden-xs">
                    <ul class="social">
                        <li><a href="#" class="fa fa-instagram"></a></li>
                        <li><a href="#" class="fa fa-facebook-square"></a></li>
                        <li><a href="#" class="fa fa-twitter-square"></a></li>
                    </ul>
                </div>
                <div class="col-sm-8">
                    <div class="finder">
                        <a href="#">
                            <span class="fa fa-map-marker"></span> Find our beer
                        </a>
                    </div>
                    <div class="cart">
                        <a href="cart.html">
                            <span class="fa fa-shopping-cart"></span> Empty
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="navbar-header">
            <a href="index.html" class="logo" title="Craft beer landing page">
                <img src="{% static 'images/logo.png' %}" alt="Craft Beer HTML Template">
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar top-bar"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
            </button>
        </div>  
        <div class="navbar-collapse collapse">
            <ul id="menu-primary" class="nav navbar-nav">
                <li class="active">
                    <span>
                        <a href="index.html">Home</a>
                    </span>
                </li>
                <li>
                    <span>
                        <a href="shop.html">Shop</a>
                    </span>
                </li>
                <li class="dropdown">
                    <span>
                        <a href="our-beer.html">Our beer</a>
                    </span>
                    <ul class="dropdown-menu">
                        <li><a href="our-beer.html">Sugar Skull</a></li>
                        <li><a href="our-beer.html">BraveHeart</a></li>
                        <li><a href="our-beer.html">The Drunk Indian</a></li>
                    </ul>
                </li>
                <li>
                    <span>
                        <a href="our-story.html">Our story</a>
                    </span>
                </li>
                <li>
                    <span>
                        <a href="contact.html">Contact</a>
                    </span>
                </li>
                <li class="dropdown">
                    <span>
                        <a href="blog.html">Blog</a>
                    </span>
                    <ul class="dropdown-menu">
                        <li><a href="blog-single.html">Single post</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Hero -->
<div id="hero" class="single-page section" style="background-image: url(http://placehold.it/750x500)">
    
    <!-- Content -->
    <div class="container">
        <div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0" data-translatey="100">
            <div class="col-md-10 col-md-offset-1">
                <h1>Continue to</h1>
                <h2>Checkout</h2>
            </div>
        </div>
    </div>

</div>