{% extends "common/base.html" %}

{% load static %}
{% block content %}

	<!-- Fake page loading -->
	<div id="fakeLoader"></div>
	<!-- Wrapper -->
	<div class="wrapper">
		<!-- Section -->
		<div class="container-fluid dark section no-padding">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<ul class="horz-menu center-menu">
								{% if category == "beer" %}
									<li ><span><a href="?category=">All</a></span></li>
									<li class="active"><span><a href="?category=beer">Beer</a></span></li>
									<li><span><a href="?category=wine">Wine</a></span></li>
									<li><span><a href="?category=cocktail">Cocktail</a></span></li>
								{% elif category == "wine" %}
									<li><span><a href="?category=">All</a></span></li>
									<li><span><a href="?category=beer">Beer</a></span></li>
									<li class="active"><span><a href="?category=wine">Wine</a></span></li>
									<li><span><a href="?category=cocktail">Cocktail</a></span></li>
								{% elif category == "cocktail" %}
									<li><span><a href="?category=">All</a></span></li>
									<li><span><a href="?category=beer">Beer</a></span></li>
									<li><span><a href="?category=wine">Wine</a></span></li>
									<li class="active" ><span><a href="?category=cocktail">Cocktail</a></span></li>
								{% else %}
									<li class="active" ><span><a href="?category=">All</a></span></li>
									<li><span><a href="?category=beer">Beer</a></span></li>
									<li><span><a href="?category=wine">Wine</a></span></li>
									<li><span><a href="?category=cocktail">Cocktail</a></span></li>
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
		</div>
		<!-- Section -->
		<div class="container-fluid light section no-padding">
			<div class="row">
				{%for p_comment in p_comments%}
						{% if forloop.counter|divisibleby:2 %}
							<div class="col-sm-6 latest-post even matchHeight">
								<a href="/userpage/?email={{ p_comment.user.email }}"></a>
								<div class="row">
									<div class="col-sm-10 col-sm-push-1">
										<header>
											<h3 style = "color:#ba9a56">{{ p_comment.user.alias }}</h3>
											<h2>{{ p_comment.product.name}}</h2>
										</header>
										<p>{{p_comment.content}}</p>
										<p><a href="/userpage/?email={{ p_comment.user.email }} " class="underline">{{ p_comment.time }}</a></p>
									</div>
								</div>
							</div>
						{% else %}
							<div class="col-sm-6 latest-post odd matchHeight">
								<a href="/userpage/?email={{ p_comment.user.email }}"></a>
								<div class="row">
									<div class="col-sm-10 col-sm-push-1">
										<header>
											<h3 style = "color:#ba9a56">{{ p_comment.user.alias }}</h3>
											<h2>{{ p_comment.product.name}}</h2>
										</header>
										<p>{{p_comment.content}}</p>
										<p><a href="/userpage/?email={{ p_comment.user.email }}" class="underline">{{ p_comment.time }}</a></p>
									</div>
								</div>
							</div>
						{% endif %}
				{%endfor%}
			</div>
		</div>
		<!-- Section -->
		<div class="container-fluid super-dark section no-padding">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<ul class="horz-menu center-menu pages">
								{% comment %} <li class="active"><span><a href="#">1</a></span></li>
								<li><span><a href="#">2</a></span></li>
								<li><span><a href="#">3</a></span></li>
								<li><span><a href="#">4</a></span></li> {% endcomment %}
								{% for i in pagination %}
            					<li><span><a href='/?page={{ i }}'>{{ i }}</a></span></li>
            					{% endfor %}
							</ul>
						</div>
					</div>
				</div>
		</div>
	</div>
{% endblock %}