{% extends "common/base.html" %}

{% load static %}
{% block content %}
<div id="fakeLoader"></div>

<!-- Wrapper -->
<div class="wrapper">

	<!-- Section -->
	<div class="container-fluid dark section no-padding">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<ul class="horz-menu center-menu">
						<li class="active"><span><a href="#">All</a></span></li>
						<li><span><a href="#">Craft beer</a></span></li>
						<li><span><a href="#">Brewing</a></span></li>
						<li><span><a href="#">Home brewing</a></span></li>
						<li><span><a href="#">Other</a></span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- Section -->
	<div class="container-fluid light section no-padding">
		<div class="row">
			{% for board in boards %}
				{% comment %} {% if forloop.counter|divisibleby:2 %} {% endcomment %}
				
				<div class="col-sm-12 latest-post even matchHeight">
				{% comment %} {% else %}
				<div class="col-sm-12 latest-post even matchHeight">
				{% endif %} {% endcomment %}
					<a href="blog-single.html"></a>
					<div class="row">
						<div class="col-sm-10 col-sm-push-1">
							<header>
								<span class="date">{{ board.time | date:'m-d' }}</span>
								<h2>{{ board.title }}</h2>
							</header>
							<p>{{ board.content }}</p>
							<p><a href="#" class="underline">Read more</a></p>
						</div>
					</div>
					<div class="background" style="background-image: url(http://placehold.it/750x535);"></div>
				</div>
			{% endfor %}
		</div>
	</div>

	<!-- Section -->
	<div class="container-fluid super-dark section no-padding">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<ul class="horz-menu center-menu pages">
						<li class="active"><span><a href="#">1</a></span></li>
						<li><span><a href="#">2</a></span></li>
						<li><span><a href="#">3</a></span></li>
						<li><span><a href="#">4</a></span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</div>
{% endblock %}