{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Craft Beer Nation - Craft Beer HTML Template</title>
	<link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/fakeLoader.css' %}" rel="stylesheet">
	<link href="{% static 'css/owl-carousel.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Catamaran:400,500,600,700,800%7CGrand+Hotel" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&display=swap" rel="stylesheet">


	<script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
	<script src="{% static 'js/jquery-ui.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/headhesive.min.js' %}"></script>
	<script src="{% static 'js/matchHeight.min.js' %}"></script>
	<script src="{% static 'js/modernizr.custom.js' %}"></script>
	<script src="{% static 'js/waypoints.min.js' %}"></script>
	<script src="{% static 'js/counterup.js' %}"></script>
	<script src="{% static 'js/scrollme.min.js' %}"></script>
	<script src="{% static 'js/fakeLoader.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.js' %}"></script>
	<script src="{% static 'js/owl.autoplay.js' %}"></script>
	<script src="https://use.fontawesome.com/4dfd2d448a.js"></script>
	<script src="{% static 'js/custom.js' %}"></script>
</head>

<body>
    <div class="container-fluid white section">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-push-2">
                    <header class="centred">
                        <h1>Forgot your password?</h1>
                    </header>
                    <hr class="space-40" />
                    <form method="POST">
                        {% csrf_token %}
                        <div class="login" width = "50">
                            <input type="text" placeholder="email" name="email" style="width: 100%" maxlength="20"><br>
                            <button type="submit" class="btn btn-primary" style="float:right; margin-right:10px;">Find</button>
							<a href="../contact" class="lost-pass" style="float:left">Forgot your email?</a> 
                    	</div>
                    </form>
                </div>
            </div>
        </div>
    </div>

	{% if messages == "실패" %}
		<script type="text/javascript">
  			alert("{{ email }} 일치하는 회원정보가 없습니다.");
		</script>
	{% elif messages == "성공" %}
		<script type="text/javascript">
			alert("당신의 비밀번호는 {{ password }} 입니다. 가려진 부분을 찾고 싶으시면 관리자에게 문의하세요.");
			window.close()
		</script>
	{% endif %}



	
</body>