{% extends "common/base.html" %}

{% load static %}
{% block content %}
		
		
		<!-- Fake page loading -->
		<div id="fakeLoader"></div>

		<!-- Wrapper -->
		<div class="wrapper">

			<!-- Section -->
			<div class="container-fluid dark section no-padding">
				<div class="container">
					<div class="row">
							<ul class="horz-menu center-menu">
								<li class="active"><span><a href="#">Login</a></span></li>
								<li><span><a href="../register">Register</a></span></li>
							</ul>
					</div>
				</div>
			</div>

			<!-- Section -->
			<div class="container-fluid white section">
				<div class="container">
						<div class="row">
							<div class="col-sm-8 col-sm-push-2">
								<header class="centred">
									<h1>Login</h1>
								</header>
								<hr class="space-40" />
								<form method="POST">
									{% csrf_token %}
									<div class="login" width = "50">
										<input type="text" placeholder="Email" class="email" name="email" style="width: 100%" maxlength="20"><br>
										<input type="password" placeholder="Password" class="password" name="password" maxlength="15">
										{% comment %} <a href="#" class="btn btn-primary"><span>Login</span></a> {% endcomment %}
										<a href="#/" class="lost-pass" onclick="window.open(this.href, '_blank', 'width=가로사이즈px,height=세로사이즈px,toolbars=no,scrollbars=no'); return false;">Lost your password?</a>
									</div>
									<div class="col-sm-12 btn-wrap">
										<a href="../register" class="btn btn-default"><span>Register</span></a><>
										<input type="submit" value="Login" href="../api/login/" class="btn btn-primary">
										{% comment %} <a href="to_members.html" class="btn btn-default"><span>SIGN IN</span></a> {% endcomment %}
									</div>
								</form>
							</div>
						</div>
				</div>
			</div>

		</div>
{% endblock %}