{% extends "common/base.html" %}

{% block content %}
<style>
	.tasteStructure__tasteStructure--15VDn .tasteStructure__tasteCharacteristic--1rMFl .tasteStructure__progressBar--hjNb2 {
		width: 100%;
		display: inline-block;
	}
	.indicatorBar__meter--2t_YL, .indicatorBar__meter--2t_YL .indicatorBar__progress--3aXLX {
		height: 8px;
		border-radius: 7px;
	}
	.indicatorBar__meter--2t_YL {
		max-height: 8px;
		position: relative;
		background: #cbb27c;
	}
	*, ::before, ::after {
		background-repeat: no-repeat;
		box-sizing: border-box;
	}


	.tasteStructure__tasteStructure--15VDn .tasteStructure__tasteCharacteristic--1rMFl {
		height: 24px;
		margin-bottom: 8px;
		white-space: nowrap;
	}

	.indicatorBar__meter--2t_YL .indicatorBar__progress--3aXLX {
		display: inline-block;
		background-color: #1b1d1e;
		position: absolute;
		overflow: hidden;
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-name: indicatorBar__bounceIn--lAgLM;
		animation-name: indicatorBar__bounceIn--lAgLM;
	}
	.indicatorBar__meter--2t_YL, .indicatorBar__meter--2t_YL .indicatorBar__progress--3aXLX {
		height: 8px;
		border-radius: 7px;
	}
	*, ::before, ::after {
		background-repeat: no-repeat;
		box-sizing: border-box;
	}
	.tasteStructure__tasteStructure--15VDn .tasteStructure__tasteCharacteristic--1rMFl {
		height: 24px;
		margin-bottom: 8px;
		white-space: nowrap;
	}

	.star-rating { width: 300px; }
	.star-rating,.star-rating span { display:inline-block; height: 55px; overflow:hidden; background:url("/static/images/star.png")no-repeat; }
	.star-rating span{ background-position:left bottom; line-height:0; vertical-align:top; }

	.starR1{
		background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat -52px 0;
		background-size: auto 100%;
		width: 15px;
		height: 30px;
		float:left;
		text-indent: -9999px;
		cursor: pointer;
	}
	.starR2{
		background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
		background-size: auto 100%;
		width: 15px;
		height: 30px;
		float:left;
		text-indent: -9999px;
		cursor: pointer;
	}
	.starR1.on{background-position:0 0;}
	.starR2.on{background-position:-15px 0;}
</style>
<!-- Fake page loading -->
<div id="fakeLoader"></div>

<!-- Wrapper -->
<div class="wrapper">

	<div class="container-fluid light section">
		<div class="container">
			<div class="row">
				<div class="col-sm-5 matchHeight">
					<div class="product-img-wrap">
						<img src="/static/images/beer/{{ image }}" alt="beer detail" />
					</div>
				</div>
				<div class="col-sm-6 col-sm-push-1 matchHeight">
					<section class="alignMiddle mobile-center">
						<header>
							<h1><i>alcohol </i> {{ alcohol }}%</h1>
							<p></p>
							<h2>{{ name }}</h2>
						</header>
							<hr>
								<span class='star-rating'>
									<span style ="width: {{ taste.score }}%"></span>
								</span>
							<hr>

							<tr class="tasteStructure__tasteCharacteristic--1rMFl">
								<td>
									<div class="tasteStructure__property--loYWN"><i>Bold(바디감)</i></div>
								</td>
								<td class="tasteStructure__progressBar--hjNb2">
									<div class="indicatorBar__meter--2t_YL tasteStructure__progressBar--hjNb2">
										<span class="indicatorBar__progress--3aXLX" style="width: 8%; left: {{ taste.bold }}%;"></span>
									</div>
								</td>
								<td>
									<div class="tasteStructure__property--loYWN"></div>
								</td>
							</tr>
							<p></p>
							<tr class="tasteStructure__tasteCharacteristic--1rMFl">
								<td>
									<div class="tasteStructure__property--loYWN"><i>Sparkling(탄산감)</i></div>
								</td>
								<td class="tasteStructure__progressBar--hjNb2">
									<div class="indicatorBar__meter--2t_YL tasteStructure__progressBar--hjNb2">
										<span class="indicatorBar__progress--3aXLX" style="width: 8%; left: {{ taste.sparkling }}%;"></span>
									</div>
								</td>
								<td>
									<div class="tasteStructure__property--loYWN"></div>
								</td>
							</tr>
							<p></p>
							<tr class="tasteStructure__tasteCharacteristic--1rMFl">
								<td>
									<div class="tasteStructure__property--loYWN"><i>Sweet(단맛)</i></div>
								</td>
								<td class="tasteStructure__progressBar--hjNb2">
									<div class="indicatorBar__meter--2t_YL tasteStructure__progressBar--hjNb2">
										<span class="indicatorBar__progress--3aXLX" style="width: 8%; left: {{ taste.sweet }}%;"></span>
									</div>
								</td>
								<td>
									<div class="tasteStructure__property--loYWN"></div>
								</td>
							</tr>
							<p></p>
							<tr class="tasteStructure__tasteCharacteristic--1rMFl">
								<td>
									<div class="tasteStructure__property--loYWN"><i>tannic(떫은맛)</i></div>
								</td>
								<td class="tasteStructure__progressBar--hjNb2">
									<div class="indicatorBar__meter--2t_YL tasteStructure__progressBar--hjNb2">
										<span class="indicatorBar__progress--3aXLX" style="width: 8%; left: {{ taste.tannic }}%;"></span>
									</div>
								</td>
								<td>
									<div class="tasteStructure__property--loYWN"></div>
								</td>
							</tr>
							<p></p>
							<tr class="tasteStructure__tasteCharacteristic--1rMFl">
								<td>
									<div class="tasteStructure__property--loYWN"><i>acidic(신맛)</i></div>
								</td>
								<td class="tasteStructure__progressBar--hjNb2">
									<div class="indicatorBar__meter--2t_YL tasteStructure__progressBar--hjNb2">
										<span class="indicatorBar__progress--3aXLX" style="width: 8%; left: {{ taste.acidic }}%;"></span>
									</div>
								</td>
								<td>
									<div class="tasteStructure__property--loYWN"></div>
								</td>
							</tr>
					</section>
				</div>




			</div>
		</div>
	</div>

	<!-- Section: Comment -->
	<div class="container-fluid light section no-padding-bottom">
		<div class="row">
			<div class="tabs">
				<ul>
					<li><a href="#reviews">Customer reviews</a></li>
					<li><a href="#description">Full description</a></li>
					<li><a href="#details">Beer details</a></li>
				</ul>
				<div id="reviews">
					<div class="container">
						{% for p in product_comment_list %}
						<div class="row">
							<div class="col-sm-12">
								<div class="row">
									<div class="col-sm-12 user-comments">
										<div class="row">
											<div class="col-sm-11">
												<h5>{{ p.user.alias }}</h5>
												<p>{{ p.content }}</p>
												{% if request.session.user_id == p.user_id or request.session.user_id == 38 %}
													<span class="edit">
														<a href="#" id="delete">Delete</a> | 
														<a href="#" id="comment-edit" data-comment="{{ p.content }}" data-bold="{{ p.bold }}" data-sparkling="{{ p.sparkling }}" data-sweet="{{ p.sweet }}" data-tannic={{ p.tannic }} data-acidic={{ p.acidic }} data-product-id={{ p.product_id }} onClick="edit_button({{ p.id }})">Edit</a>
													</span>
												{% endif %}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				<div id="description">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<p>Rich, golden color with dark amber and orange hues and a touch of chill haze that clears as the beer warms. Carbonation is quite active, with abnormally large bubbles frothing into a thick white foam head that piles high, sticks and leaves a healthy lacing. Steely and mineral in the nose, soft and powdery, with a dusting of herbal and malty-sweet suggestions. Very smooth on the palate; even and medium-bodied. Malty with bready and biscuity notes running through a light and toasty sweetness. An aggressive alcohol cuts through with spice and a burn, prickling the palate. Distinct herbal hops characters meet the alcohol spice and meld well. Faint taste of ripe stone fruit beneath. Toasty finish, slightly drying, powdery dash of spices.</p>

								<p>One of the most sought-after stouts in Bell's history, Black Note Stout blends the complex aromatics of Expedition Stout with the velvety smooth texture of Double Cream Stout and ages the combination in freshly retired oak bourbon barrels for months. The resulting harmony of flavors captures the finest features of all three components: malty notes of dark chocolate, espresso &amp; dried fruits, all buoyed by the warmth and fragrance of the bourbon barrel. Aimed squarely at the stout and bourbon aficionados, Black Note makes a grand statement about the art of the dark.</p>
							</div>
						</div>
					</div>
				</div>
				<div id="details">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<p>One of the most sought-after stouts in Bell's history, Black Note Stout blends the complex aromatics of Expedition Stout with the velvety smooth texture of Double Cream Stout and ages the combination in freshly retired oak bourbon barrels for months. The resulting harmony of flavors captures the finest features of all three components: malty notes of dark chocolate, espresso &amp; dried fruits, all buoyed by the warmth and fragrance of the bourbon barrel. Aimed squarely at the stout and bourbon aficionados, Black Note makes a grand statement about the art of the dark.</p>

								<p>Rich, golden color with dark amber and orange hues and a touch of chill haze that clears as the beer warms. Carbonation is quite active, with abnormally large bubbles frothing into a thick white foam head that piles high, sticks and leaves a healthy lacing. Steely and mineral in the nose, soft and powdery, with a dusting of herbal and malty-sweet suggestions. Very smooth on the palate; even and medium-bodied. Malty with bready and biscuity notes running through a light and toasty sweetness. An aggressive alcohol cuts through with spice and a burn, prickling the palate. Distinct herbal hops characters meet the alcohol spice and meld well. Faint taste of ripe stone fruit beneath. Toasty finish, slightly drying, powdery dash of spices.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Section: post comment -->
		<div class="container-fluid light section no-padding">
			<div class="container" style="margin-left: 0;">
				<div class="row">
					<div class="col-sm-6 dark matchHeight">
						<section class="alignMiddle padding-80-0 mobile-center">
							<header>
								<h1>Leave a</h1>
								<h2>Comment</h2>
							</header>
							<p>A tough one to drink. The use of molasses and licorice is simply overwhelming and without balance.</p>
						</section>
						<div class="grey-background" style="background-color: grey; background-size: cover;"></div>
					</div>
					<div class="col-sm-5 col-sm-push-1 matchHeight">
						<section class="alignMiddle padding-80-0">  
							<form action="javascript:add_product_comment();" class=" scrollme animateme" data-when="enter" data-from="1" data-to="0" data-opacity="0" data-scale="1.1">
								{% csrf_token %}

								<div class="starRev">
									<span class="starR1 on"></span>
									<span class="starR2"></span>
									<span class="starR1"></span>
									<span class="starR2"></span>
									<span class="starR1"></span>
									<span class="starR2"></span>
									<span class="starR1"></span>
									<span class="starR2"></span>
									<span class="starR1"></span>
									<span class="starR2"></span>
								</div>

								<hr style="border: 0px"></hr>
								<hr style="border: 0px"></hr>
								<hr style="border: 0px"></hr>

								<div class="Container">
									<h4 style="display: inline-block">Bold: </h4>
									<h4 id = "slider_value_view_bold" style="display: inline-block">0</h4>						  
									<input id="bold" style="width: 80%;" class="slider_range" type="range" value="0" min="0" max="100"></input>						  
								</div>
								<div class="Container" >
									<h4 style="display: inline-block">Sparkling: </h4>
									<h4 id = "slider_value_view_sparkling" style="display: inline-block">0</h4>						  
									<input id="sparkling" style="width: 80%;" class="slider_range" type="range" value="0" min="0" max="100"></input>						  
								</div>
								<div class="Container" >
									<h4 style="display: inline-block">Sweet: </h4>
									<h4 id = "slider_value_view_sweet" style="display: inline-block">0</h4>						  
									<input id="sweet" style="width: 80%;" class="slider_range" type="range" value="0" min="0" max="100"></input>						  
								</div>
								<div class="Container" >
									<h4 style="display: inline-block">Tannic: </h4>
									<h4 id = "slider_value_view_tannic" style="display: inline-block">0</h4>						  
									<input id="tannic" style="width: 80%;" class="slider_range" type="range" value="0" min="0" max="100"></input>						  
								</div>
								<div class="Container" >
									<h4 style="display: inline-block">Acidic: </h4>
									<h4 id = "slider_value_view_acidic" style="display: inline-block">0</h4>						  
									<input id="acidic" style="width: 80%;" class="slider_range" type="range" value="0" min="0" max="100"></input>						  
								</div>

								<textarea id="comment-area" name="comment" placeholder="Comment" rows="5"></textarea> 
								<input type="submit" value="Post comment" class="btn btn-default" id="post-comment">
							</form>
						</section>
					</div> 
				</div>
			</div>
		</div>

	<!-- Section -->
	<div class="container-fluid super-dark section no-padding">
		<div class="row" id="share">
			<div class="col-md-2 col-sm-4 col-xs-6 icon-grid share-this">
				<a href="#"></a>
				<i class="fa fa-facebook"></i>
				<h4>Facebook</h4>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6 icon-grid share-this">
				<a href="#"></a>
				<i class="fa fa-instagram"></i>
				<h4>Instagram</h4>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6 icon-grid share-this">
				<a href="#"></a>
				<i class="fa fa-linkedin"></i>
				<h4>Linked In</h4>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6 icon-grid share-this">
				<a href="#"></a>
				<i class="fa fa-twitter"></i>
				<h4>Twitter</h4>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6 icon-grid share-this">
				<a href="#"></a>
				<i class="fa fa-google-plus"></i>
				<h4>Google +</h4>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6 icon-grid share-this">
				<a href="#"></a>
				<i class="fa fa-pinterest"></i>
				<h4>Pinterest</h4>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="popupModal" tabindex="-1" role="dialog" aria-labelledby="popupModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="popupModalLabel" data-comment-id="">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div style="margin-left: 50px">
					<div class="modal_starRev">
						<span id="starR1" class="starR1 on"></span>
						<span id="starR2" class="starR2"></span>
						<span id="starR1" class="starR1"></span>
						<span id="starR2" class="starR2"></span>
						<span id="starR1" class="starR1"></span>
						<span id="starR2" class="starR2"></span>
						<span id="starR1" class="starR1"></span>
						<span id="starR2" class="starR2"></span>
						<span id="starR1" class="starR1"></span>
						<span id="starR2" class="starR2"></span>
					</div>

					<hr style="border: 0px"></hr>
					<hr style="border: 0px"></hr>
					<hr style="border: 0px"></hr>

					<div class="Container" >
						<h4 style="display: inline-block">Bold: </h4>
						<h4 id = "modal_slider_value_view_modal_bold" style="display: inline-block">0</h4>						  
						<input id="modal_bold" style="width: 80%;" class="modal_slider_range" type="range" value="0" min="0" max="100"></input>						  
					</div>
					<div class="Container" >
						<h4 style="display: inline-block">Sparkling: </h4>
						<h4 id = "modal_slider_value_view_modal_sparkling" style="display: inline-block">0</h4>						  
						<input id="modal_sparkling" style="width: 80%;" class="modal_slider_range" type="range" value="0" min="0" max="100"></input>						  
					</div>
					<div class="Container" >
						<h4 style="display: inline-block">Sweet: </h4>
						<h4 id = "modal_slider_value_view_modal_sweet" style="display: inline-block">0</h4>						  
						<input id="modal_sweet" style="width: 80%;" class="slider_range" type="range" value="0" min="0" max="100"></input>						  
					</div>
					<div class="Container" >
						<h4 style="display: inline-block">Tannic: </h4>
						<h4 id = "modal_slider_value_view_modal_tannic" style="display: inline-block">0</h4>						  
						<input id="modal_tannic" style="width: 80%;" class="modal_slider_range" type="range" value="0" min="0" max="100"></input>						  
					</div>
					<div class="Container" >
						<h4 style="display: inline-block">Acidic: </h4>
						<h4 id = "modal_slider_value_view_modal_acidic" style="display: inline-block">0</h4>						  
						<input id="modal_acidic" style="width: 80%;" class="modal_slider_range" type="range" value="0" min="0" max="100"></input>						  
					</div>
					<div class="modal-body">
						<textarea id="modal-message" rows="5"></textarea>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal" id="save_edit">OK</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script language = "javascript">
<!-- comment -->
	function ShowSliderValue(val, id)
	{
		new_id = "slider_value_view" + "_" + id
		var obValueView = document.getElementById(new_id);
		obValueView.innerHTML = val
	}

	var RangeSlider = function(){
		var range = $('.slider_range');
		
		range.on('input', function(){		
			ShowSliderValue(this.value, this.id);
		});
	};

	RangeSlider();

	$('.starRev span').click(function(){
		$(this).parent().children('span').removeClass('on');
		$(this).addClass('on').prevAll('span').addClass('on');
		return false;
	});


<!-- edit comment -->
	function ModalShowSliderValue(val, id)
	{
		new_id = "modal_slider_value_view" + "_" + id;
		var obValueView = document.getElementById(new_id);
		obValueView.innerHTML = val
	}

	var ModalRangeSlider = function(){
		var range = $('.modal_slider_range');
		
		range.on('input', function(){		
			ModalShowSliderValue(this.value, this.id);
		});
	};

	ModalRangeSlider();

	$('.modal_starRev span').click(function(){
		$(this).parent().children('span').removeClass('on');
		$(this).addClass('on').prevAll('span').addClass('on');
		return false;
	});

	let getCSRFTokenValue = () => $('input[name=csrfmiddlewaretoken]').val()

<!-- add comment -->
	add_product_comment = () => {
		// 0.5 ~ 5점 만점
		score = 0.0
		$('.on').each(() => score += 0.5)
		score -= 0.5;		
		console.log(score)

		content = $('#comment-area').val()

		bold = $('#slider_value_view_bold').text() * 1
		sparkling = $('#slider_value_view_sparkling').text() * 1
		sweet = $('#slider_value_view_sweet').text() * 1
		tannic = $('#slider_value_view_tannic').text() * 1
		acidic = $('#slider_value_view_acidic').text() * 1

		$.ajax({
			type: "POST",
			url: "?p_id={{ product_id }}",
			data: { 
				'score': score,
				'content': content,
				'bold': bold,
				'sparkling': sparkling,
				'sweet': sweet,
				'tannic': tannic,
				'acidic': acidic,
			},
			success: (response) => {
				if(response.result === 'Success'){
					location.reload()
				}else if(response.result === 'Fail'){
					if(response.message === 'go back'){
						alert('에러가 발생 했습니다.')
						window.location.href = '/'
					}else if(response.message === 'session out'){
						alert('세션만료입니다. 다시 로그인 해주세요')
						window.location.href = '/login/'
					}else{
						alert('알 수 없는 오류입니다.')
						window.location.href = '/'
					}
				}
			},
		})
	}

$('.starRev span').click(function(){
  $(this).parent().children('span').removeClass('on');
  $(this).addClass('on').prevAll('span').addClass('on');
  return false;
});

let edit_button = (comment_id) => {
		
		console.log('product_single edit_button', comment_id)

		product_id = $('#comment-edit').attr('data-product-id')
		content = $('#comment-edit').attr('data-comment')
		console.log(content)

		$.ajax({
			//url: `/product_single/edit/?p_id=${product_id}&c_id=${comment_id}`,
			url: '/product_single/edit_comment/',
			data: { 
				'p_id': product_id,
				'c_id': comment_id,
			},
			type: 'get',
			success: function(res) {
					if(res.method === "get"){
						// on 쓰여진 값 모두 지우고 시작
						const spans = $('.modal_starRev > span')
						for(let i = 1; i < 10; i++) {
							console.log(spans[i])
							$(spans[i]).removeClass('on');
						}
						
						let score = res.score * 2;
						for(let i = 0; i < score; i++) {
							console.log(spans[i])
							$(spans[i]).addClass('on');
						}
						console.log("get" + res.score)

						//$(starR1).attr('starR1','class_name');

						console.log("susccess, modal show")
						$('#popupModalLabel').text(res.nickname);
						$('#modal-message').text(res.content);
						bold = Math.round(res.bold * 100);
						$('#modal_slider_value_view_modal_bold').text(bold);
						$('#modal_bold').val(bold);
						sparkling = Math.round(res.sparkling * 100);
						$('#modal_slider_value_view_modal_sparkling').text(sparkling);
						$('#modal_sparkling').val(sparkling);
						sweet = Math.round(res.sweet * 100);
						$('#modal_slider_value_view_modal_sweet').text(sweet);
						$('#modal_sweet').val(sweet);
						tannic = Math.round(res.tannic * 100);
						$('#modal_slider_value_view_modal_tannic').text(tannic);
						$('#modal_tannic').val(tannic);
						acidic = Math.round(res.acidic * 100);
						$('#modal_slider_value_view_modal_acidic').text(acidic);
						$('#modal_acidic').val(acidic);
						
						$('#popupModal').modal('show');
						$('#popupModalLabel').attr('data-comment-id', comment_id)
						//location.reload();
				}
            },
			error: function(res) {
				// .....
			} 
		})
	}

$('#save_edit').click(function() {
		comment_id = $('#popupModalLabel').attr('data-comment-id')
		console.log("save_edit comment_id = ", comment_id)

		// 0.5 ~ 5점 만점
		score = 0.0
		$('.on').each(() => score += 0.5)
		score -= 0.5

		content = $('#comment-area').val()

		bold = $('#modal_slider_value_view_modal_bold').text() * 0.01
		sparkling = $('#modal_slider_value_view_modal_sparkling').text() * 0.01
		sweet = $('#modal_slider_value_view_modal_sweet').text() * 0.01
		tannic = $('#modal_slider_value_view_modal_tannic').text() * 0.01
		acidic = $('#modal_slider_value_view_modal_acidic').text() * 0.01
		console.log(bold, sparkling, sweet, tannic, acidic)

		$.ajax({
			url: '/product_single/edit_comment/',
			data: {
				'comment_id': comment_id,
				'content': $('#modal-message').val(),
				'score': score,
				'bold': bold,
				'sparkling': sparkling,
				'sweet': sweet,
				'tannic': tannic,
				'acidic': acidic,
			}, 
			type: 'POST',
			dataType: 'json',
			success: function(res) {
				if(res.result === "Success"){
					location.reload();
				}else if(res.result === "Fail"){
					window.location.href = '/'
				}
            },
			error: function(res) {
				// .....
			} 
		})

		return false;
	});

</script>
{% endblock %}