{% extends "common/base.html" %}


{% block content %}
<style>
	#search-type {
		display: inline;
		width: 100px;
	}
</style>
<!-- Fake page loading -->
<div id="fakeLoader"></div>
<!-- Wrapper -->
<div class="wrapper">
<!-- Section -->
<div class="container-fluid dark section no-padding">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<ul class="horz-menu">
					<li {% if category == "all" %} class="active" {% endif %}><span><a href="?category=">All</a></span></li>
					<li {% if category == "beer" %} class="active" {% endif %}><span><a href="?category=beer">Beer</a></span></li>
					<li {% if category == "wine" %} class="active" {% endif %}><span><a href="?category=wine">Wine</a></span></li>
					<li {% if category == "cocktail" %} class="active" {% endif %}><span><a href="?category=cocktail">Cocktail</a></span></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- filter search -->
<div class="container-fluid light section no-padding">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="box-body">
					<select name="search-type" id="search-type">
						<option value="beer">Beer111</option>
						<option value="wine">Wine</option>
						<option value="cocktail">Cocktail</option>
					</select>
					<input type="text" id="search_keyword">
					<a href="#" class="btn btn-default">Search</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Section -->
{% if product_list %}

<div class="container-fluid light section no-padding">
	
	<div class="row">
	{% for p in product_list %}
		<div class="col-sm-4 product-wrapper">
			<div class="product">
				<a href="/product_single?p_id={{ p.id }}">
					<span>More info</span>
					<img src="/static/images/beer/{{ p.image }}" alt="Product image">
				</a>
				<h5>{{ p.name }}</h5>
				<h3>alcohol {{ p.alcohol }}</h3>
			</div>
		</div>
		{% endfor %}
	</div>
	
</div>

{% else %}
    <p>제품이 없습니다.</p>
{% endif %}

<!-- Section: paging --> 
<div class="container-fluid super-dark section no-padding">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<ul class="horz-menu center-menu pages">
					<li class="active"><span><a href="#">1</a></span></li>
					<li><span><a href="#">2</a></span></li>
					<li><span><a href="#">3</a></span></li>
					<li><span><a href="#">4</a></span></li>
				</ul>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}