{% extends "common/base.html" %}

{% block content %}
<!-- Fake page loading -->
<div id="fakeLoader"></div>

<div class="wrapper">

	<!-- Section -->
	<div class="container-fluid white section">
		<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-push-2">
						<header class="centred">
							<h1>Profile</h1>
							<h2></h2>
						</header>
						<hr class="space-40" />
						<!-- Form start -->
						<form>
							{% csrf_token %}
							<div class="row">
								<div class="col-sm-6">
									<input type="text" placeholder="Nickname" name="nickname" value={{ nickname }}>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<input type="password" placeholder="password" name="password" value={{ password }}>
								</div>
							</div>
							<!-- Form end -->

							<div class="row">
								<div class="col-sm-12 btn-wrap">
									<a href="/profile/" class="btn btn-default" id="save" method="post"><span>OK</span></a> 
									<a href="/" class="btn btn-grey" style="float:left"><span>Cancel</span></a>
								</div>
							</div>
						</form>
					</div>
				</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="popupModal" tabindex="-1" role="dialog" aria-labelledby="popupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="popupModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
				<div id="modal-message">message</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<script>
	$('#save').click(function() {
		// spin show 
		$.ajax({
			url: '/profile/',
			data: $('form').serialize(), // nickname=OOOO&password=XXXX
			type: 'post',
			success: function(res) {
				// spin hide
				$('#popupModalLabel').text(res.result);
				$('#modal-message').text(res.messages);
				$('#popupModal').modal('show');//now its working
				location.reload();
            },
			error: function(res) {
				// .....
			} 
		})

		return false;
	});
</script>
{% endblock %}