{% extends "common/base.html" %}

{% block content %}
<!-- Fake page loading -->
<div id="fakeLoader"></div>

<div class="wrapper">
	<!-- Section -->
	<div class="container-fluid dark section no-padding">
		<div class="container">
			<div class="row">
					<ul class="horz-menu center-menu">
						<li><span><a href="checkout-1.html">Login</a></span></li>
						<li class="active"><span><a href="checkout-2.html">Billing</a></span></li>
						<li><span><a href="checkout-3.html">Shipping</a></span></li>
						<li><span><a href="checkout-4.html">Order info</a></span></li>
						<li><span><a href="checkout-5.html">Payment info</a></span></li>
					</ul>
			</div>
		</div>
	</div>

	<!-- Section -->
	<div class="container-fluid white section">
		<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-push-2">
						<header class="centred">
							<h1>change</h1>
							<h2>Profile</h2>
						</header>
						<hr class="space-40" />
						<!-- Form start -->
						<div class="row">
							<div class="col-sm-12 btn-wrap"  style="margin-bottom: 30px;" >
								<a href="" class="btn btn-default"><span>change</span></a> 
								<a href="" class="btn btn-grey"><span>delete</span></a>
							</div>
						</div>
						<!-- drag and drop test -->
						<div class="row">
							<div class="whiteBox">
								<div class="imgBox" draggable="true"></div>
							</div>
							<div class="whiteBox"></div>
							<div class="whiteBox"></div>
							<div class="whiteBox"></div>
						</div>
						<!-- drag and drop test -->
						<div class="row">
							<div class="col-sm-6">
								<input type="text" placeholder="Nickname">
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<input type="password" placeholder="password">
							</div>
						</div>
						<!-- Form end -->

						<div class="row">
							<div class="col-sm-12 btn-wrap">
								<a href="''" class="btn btn-default"><span>OK</span></a> 
								<a href="''" class="btn btn-grey"><span>Cancel</span></a>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>
{% endblock %}