{% extends "common/base.html" %}

{% block content %}
<!-- Fake page loading -->
<div id="fakeLoader"></div>

<div class="wrapper">

	<!-- Section -->
	<div class="container-fluid white section">
		<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-push-2">
						<header class="centred">
							<h1>Profile</h1>
							<h2></h2>
						</header>
						<hr class="space-40" />
						<!-- Form start -->
						<!-- <div class="row">
							<div class="col-sm-12 btn-wrap"  style="margin-bottom: 30px;" >
								<a href="" class="btn btn-default"><span>change</span></a> 
								<a href="" class="btn btn-grey"><span>delete</span></a>
							</div>
						</div> -->
						<form>
							{% csrf_token %}
							<div class="row">
								<div class="col-sm-6">
									<input type="text" placeholder="Nickname" name="nickname" value={{ nickname }}>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<input type="password" placeholder="password" name="password" value={{ password }}>
								</div>
							</div>
							<!-- Form end -->

							<div class="row">
								<div class="col-sm-12 btn-wrap">
									<a href="/save_profile/" class="btn btn-default" id="save"><span>OK</span></a> 
									<a href="/" class="btn btn-grey"><span>Cancel</span></a>
								</div>
							</div>
						</form>
					</div>
				</div>
		</div>
	</div>
</div>
<script>
	$('#save').click(function() {
		$.ajax({
			url: '/profile/',
			data: $('form').serialize(),  // nickname=OOOO&password=XXXX
			type: 'post',
			success: function(res) {
				alert(res.result, res.messages);
				location.reload();
			},
			error: function(res) {
				// .....
			} 
		})

		return false;
	});
</script>
{% endblock %}