{% extends 'common/base.html' %}
{% block content %}
{% load static %}



<!-- 주류 추천 멘트-->
<div class="container-fluid super-dark section" style="position: relative; width: 100%;">
	<div class="container" style="position: relative; width: 100%;">
		<div class="col-xs-6 col-sm-3" style="position: relative; width: 100%;">
			<div style="font-size: 2em; color:#cbb27c" class="counter">
				맘에 드는 술의 종류와 제품을 선택하세요. (최대 5개)
			</div>
		</div>
	</div>
</div>

<!-- Section -->
	<div class="container-fluid dark section no-padding">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<ul align='center' class="horz-menu">
						<li {% if category == "all" %} class="active" {% endif %}><span><a class='category0' href="?category=0">All</a></span></li>
						<li {% if category == "beer" %} class="active" {% endif %}><span><a class='category1' href="?category=1">Beer</a></span></li>
						<li {% if category == "wine" %} class="active" {% endif %}><span><a class='category2' href="?category=2">Wine</a></span></li>
						<li {% if category == "cocktail" %} class="active" {% endif %}><span><a class='category3' href="?category=3">Cocktail</a></span></li>
					</ul>	
				</div>
			</div>
		</div>
	</div>
	
<!-- 주류 16개 나열, 클릭 시 회색 상자 -->
<div id="myTarget" class="container-fluid super-dark section">
	<div class="container">
		<div class="row">
			{% for product in products %}
			{% if forloop.counter0|divisibleby:4 %}
		</div>
	</div>
	<div class="container">
		<div class="row">
			{% endif %}
			<div class="col-xs-6 col-sm-3">
				<div id={{ product.id }} style="background-color: black; margin: 5px; border-radius: 10px"
					class="product-click">
					<div class="counter">
						<img src='/static/images/beer/{{product.image}}' class="svg" alt="image" />
					</div>
					<h1
						style="color: white; text-align: center; font-size: 1em; color:#cbb27c; font-weight:bold; margin-top:5px">
						{{ product.name }}</h1>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

<!-- submit 버튼 -->
<div class="container-fluid super-dark section no-padding">
	<div class="container">
		<div class="col-sm-12">
			<ul class="horz-menu center-menu pages">
				<li class="active"><span><a style="cursor: pointer" id='submit'>submit</a></span></li>
			</ul>
		</div>
	</div>
</div>

<!-- 추천 페이지 주류 선택 스크립트 -->
<script type="text/javascript" src="{% static 'js/spin.js' %}"></script>
<script type="text/javascript">
	$(document).ready(function () {
		let select_count = 0
		let selected_list = []
		var opts = {
			lines: 13, // The number of lines to draw
			length: 20, // The length of each line
			width: 10, // The line thickness
			radius: 30, // The radius of the inner circle
			corners: 1, // Corner roundness (0..1)
			rotate: 0, // The rotation offset
			direction: 1, // 1: clockwise, -1: counterclockwise
			color: '#cbb27c', // #rgb or #rrggbb or array of colors
			speed: 1, // Rounds per second
			trail: 60, // Afterglow percentage
			shadow: false, // Whether to render a shadow
			hwaccel: false, // Whether to use hardware acceleration
			className: 'spinner', // The CSS class to assign to the spinner
			zIndex: 2e9, // The z-index (defaults to 2000000000)
			top: '50%', // Top position relative to parent
			left: '50%' // Left position relative to parent
		};
		// product-click 버튼
		$(".product-click").click(function (event) {
			$current = $(event.currentTarget)
			id = $current.attr('id')

			color = $current.css('background-color')

			if (color == "rgb(0, 0, 0)") {
				if (select_count < 5) {
					$current.css('background-color', 'gray')
					select_count++
					selected_list.push(id)
				}
			} else {
				$current.css('background-color', ' black')
				select_count--
				selected_list = selected_list.filter(val => val !== id)
			}

			console.log(selected_list)
		})

		var myTarget = document.getElementById('myTarget');
		var spinner;
		// submit 버튼
		$("#submit").click(function (event) {
			if (selected_list.length === 0) {
				window.alert("최소 한개이상 선택해주세요~");
				return
			}
			spinner = new Spin.Spinner(opts).spin(myTarget);

			console.log(selected_list)

			$.ajax({
				url: "/api/submit_recommand_ml/",
				data: {'selected_list': selected_list.join('-')},
				dataType: 'json',
				type: 'post',
				error: function (response) {
					window.alert("문제가 있습니다. 다시 해보세요~");
					spinner.stop(myTarget);
				},
				success: function (response) {
					spinner.stop(myTarget);
					if(response.result === 'ok'){
						let category = location.search
						try {
							category = category.split('=')[1];
						} catch(e) {
							category = 0;
						}
						location.replace(`/recommand_result/?category=${category}`)
					}
				}
			});
		})
	})
</script>


{% endblock %}