{% extends 'common/base.html' %}
{% block content %}
{% load static %}


<!-- Section -->
<div class="container-fluid dark section no-padding">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<ul class="horz-menu center-menu">
					<li class="active"><span><a href="#">All</a></span></li>
					<li><span><a href="#">Craft beer</a></span></li>
					<li><span><a href="#">Brewing</a></span></li>
					<li><span><a href="#">Home brewing</a></span></li>
					<li><span><a href="#">Other</a></span></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- Section -->
<div class="container-fluid light section no-padding">
	<div class="row">
		<div class="col-sm-6 latest-post odd matchHeight">
			<a href="blog-single.html"></a>
			<div class="row">
				<div class="col-sm-10 col-sm-push-1">
					<header>
						<span class="date">21 December</span>
						<h2>Oktoberfest</h2>
					</header>
					<p>Brewed with licorice; a proprietary, hand-smoked malt; and almost a pound of East Kent Goldings
						hops per barrel.</p>
					<p>Opaque brown in color, with muddy brown edges and a cola-colored head that drops quickly to a
						ringed lace. Strong and dominating licorice aroma with an underlying robust molasses-ness and
						highly roasted malts. Thick-ish, deep blackstrap molasses character (sweet, tangy nectar), quite
						robust.</p>
					<p><a href="#" class="underline">Read more</a></p>
				</div>
			</div>
			<div class="background" style="background-image: url(http://placehold.it/750x535);"></div>
		</div>
		<div class="col-sm-6 latest-post even matchHeight">
			<a href="blog-single.html"></a>
			<div class="row">
				<div class="col-sm-10 col-sm-push-1">
					<header>
						<span class="date">14 December</span>
						<h2>Now stocked in NYC</h2>
					</header>
					<p>Brewed with licorice; a proprietary, hand-smoked malt; and almost a pound of East Kent Goldings
						hops per barrel.</p>
					<p>Opaque brown in color, with muddy brown edges and a cola-colored head that drops quickly to a
						ringed lace. Strong and dominating licorice aroma with an underlying robust molasses-ness and
						highly roasted malts. Thick-ish, deep blackstrap molasses character (sweet, tangy nectar), quite
						robust.</p>
					<p><a href="#" class="underline">Read more</a></p>
				</div>
			</div>
			<div class="background" style="background-image: url(http://placehold.it/750x535);"></div>
		</div>
		<div class="col-sm-6 latest-post odd matchHeight">
			<a href="blog-single.html"></a>
			<div class="row">
				<div class="col-sm-10 col-sm-push-1">
					<header>
						<span class="date">09 December</span>
						<h2>New stock now available</h2>
					</header>
					<p>Brewed with licorice; a proprietary, hand-smoked malt; and almost a pound of East Kent Goldings
						hops per barrel.</p>
					<p>Opaque brown in color, with muddy brown edges and a cola-colored head that drops quickly to a
						ringed lace. Strong and dominating licorice aroma with an underlying robust molasses-ness and
						highly roasted malts. Thick-ish, deep blackstrap molasses character (sweet, tangy nectar), quite
						robust.</p>
					<p><a href="#" class="underline">Read more</a></p>
				</div>
			</div>
			<div class="background" style="background-image: url(http://placehold.it/750x535);"></div>
		</div>
		<div class="col-sm-6 latest-post even matchHeight">
			<a href="blog-single.html"></a>
			<div class="row">
				<div class="col-sm-10 col-sm-push-1">
					<header>
						<span class="date">27 November</span>
						<h2>Try our new flavours</h2>
					</header>
					<p>Brewed with licorice; a proprietary, hand-smoked malt; and almost a pound of East Kent Goldings
						hops per barrel.</p>
					<p>Opaque brown in color, with muddy brown edges and a cola-colored head that drops quickly to a
						ringed lace. Strong and dominating licorice aroma with an underlying robust molasses-ness and
						highly roasted malts. Thick-ish, deep blackstrap molasses character (sweet, tangy nectar), quite
						robust.</p>
					<p><a href="#" class="underline">Read more</a></p>
				</div>
			</div>
			<div class="background" style="background-image: url(http://placehold.it/750x535);"></div>
		</div>
		<div class="col-sm-6 latest-post odd matchHeight">
			<a href="blog-single.html"></a>
			<div class="row">
				<div class="col-sm-10 col-sm-push-1">
					<header>
						<span class="date">05 November</span>
						<h2>Brewing tips</h2>
					</header>
					<p>Brewed with licorice; a proprietary, hand-smoked malt; and almost a pound of East Kent Goldings
						hops per barrel.</p>
					<p>Opaque brown in color, with muddy brown edges and a cola-colored head that drops quickly to a
						ringed lace. Strong and dominating licorice aroma with an underlying robust molasses-ness and
						highly roasted malts. Thick-ish, deep blackstrap molasses character (sweet, tangy nectar), quite
						robust.</p>
					<p><a href="#" class="underline">Read more</a></p>
				</div>
			</div>
			<div class="background" style="background-image: url(http://placehold.it/750x535);"></div>
		</div>
		<div class="col-sm-6 latest-post even matchHeight">
			<a href="blog-single.html"></a>
			<div class="row">
				<div class="col-sm-10 col-sm-push-1">
					<header>
						<span class="date">30 October</span>
						<h2>New brewing kits available</h2>
					</header>
					<p>Brewed with licorice; a proprietary, hand-smoked malt; and almost a pound of East Kent Goldings
						hops per barrel.</p>
					<p>Opaque brown in color, with muddy brown edges and a cola-colored head that drops quickly to a
						ringed lace. Strong and dominating licorice aroma with an underlying robust molasses-ness and
						highly roasted malts. Thick-ish, deep blackstrap molasses character (sweet, tangy nectar), quite
						robust.</p>
					<p><a href="#" class="underline">Read more</a></p>
				</div>
			</div>
			<div class="background" style="background-image: url(http://placehold.it/750x535);"></div>
		</div>
	</div>
</div>

<!-- Section -->
<div class="container-fluid super-dark section no-padding">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<ul class="horz-menu center-menu pages">
					<li class="active"><span><a href="#">1</a></span></li>
					<li><span><a href="#">2</a></span></li>
					<li><span><a href="#">3</a></span></li>
					<li><span><a href="#">4</a></span></li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}