{% extends 'common/base.html' %}
			{% block content %}
			
			<!-- Section -->
			<div class="container-fluid dark section no-padding">
				<div class="container">
					<div class="row">
							<ul class="horz-menu center-menu">
								<li><span><a href="login_form.html">Login</a></span></li>
								<li class="active"><span><a href="/register/">Register</a></span></li>
							</ul>
					</div>
				</div>
			</div>

			<!-- Section -->
			<div class="container-fluid white section">
				<div class="container">
						<div class="row">
							<div class="col-sm-8 col-sm-push-2">
								<header class="centred">
									<h1>Register</h1>
								</header>
								<hr class="space-40" />
								<!-- Form start -->
								<div class="row">
									<div class="col-sm-6">
										<input id="email" type="text" placeholder="email">
									</div>
								
								</div>
								<div class="row">
									
								</div>
								<div class="row">
									<div class="col-sm-6">
										<input type="password" placeholder="password">
									</div>
									<div class="col-sm-6">
										<input type="password" placeholder="password check">
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<input type="text" placeholder="NICKNAME">
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<select>
											<option class="col-sm-6" >men</option>
											<option>women</option>
										</select>
									</div>
								</div>
								
								<div class="row">
									<div class="col-sm-6" style="color: #cbb27c; font-weight: 800">
										<input type="checkbox"> are you adult?
									</div>
								</div>
								<!-- Form end -->

								<div class="row">
									<div class="col-sm-8 btn-wrap">
										<a href="checkout-3.html" class="btn btn-default"><span>summit</span></a> <a href="checkout-1.html" class="btn btn-grey"><span>cancel</span></a>
									</div>
								</div>
							</div>
						</div>
				</div>
			</div>
			{% endblock %}
			<script type="text/javascript">
			$(document).ready(function() { 
				
				$('input#email').blur(function(event){
					console.log("blur")

					$.ajax({
						url: "/api/email_valid_duplicate?email=" + $('input#email').val(),
						type: "GET",
						dataType: "json",
						success: function(data){
							if(data.result == "ok"){
								console.log("성공")
								$('input#email').css({
									'border-bottom-color': '#cbb27c',
								})

								
							}else{
								console.log("실패")
								$('input#email').css({
									'border-bottom-color': 'red',
								})
							}
						},
						error: function(data){
							console.log(data)
						}
					})
				})

				$('').blur(function(event){
				})

				$('').blur(function(event){
				})

				$('').blur(function(event){
				})

			});
		</script>