{% extends "common/base.html" %}

{% load static %}

{% block content %}
	
	<body class="single">

		<!-- Fake page loading -->
		<!-- <div id="fakeLoader"></div> -->

		<!-- Wrapper -->
		<div class="wrapper">

		
			

			<!-- Section -->
			<div class="container-fluid dark section no-padding">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<p class="author center-menu">{{ user.alias }} / <a href="#comments">3 reviews</a></p>
						</div>
					</div>
				</div>
			</div>

			<!-- Section -->
			<div class="container-fluid light section">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 single-blog">
							<img src="http://placehold.it/750x535" alt="Craft beer single blog post" />
							<header>
								<span class="date">Name</span>
								<h2>{{ user.alias }}</h2>
							</header>
							<p>user information</p>

						</div>
					</div>
				</div>
			</div>

			<!-- Section -->
			<div class="container-fluid section">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h3 id="comments">Reviews</h3>
						</div>
						<div class="col-sm-12 user-comments">


							{% for user_comment in user_comments %}

							<div class="row scrollme animateme" data-when="enter" data-from="0.75" data-to="0" data-opacity="0" data-translatey="75">
								<div class="col-sm-1">
									<img src="http://placehold.it/72x72" alt="Craft ale HTML template" />
								</div>
								<div class="col-sm-11">
									<h5>{{ user_comment.product.name }}</h5>
									<p>{{ user_comment.content }}</p>

									<span class="edit">
										<a href="#">Ratings</a> | <a href="#">Edit</a>
									</span>
								</div>
							</div>

							{% endfor %}

						</div>
					</div> 
				</div>
			</div>

			<!-- Section -->
			<div class="container-fluid light section no-padding">
				<div class="container">
					<div class="row">
						<div class="col-sm-6 dark matchHeight">
							<section class="alignMiddle padding-80-0 mobile-center">
								<header>
									<h1>Leave a</h1>
									<h2>Comment</h2>
								</header>
								<p>A tough one to drink. The use of molasses and licorice is simply overwhelming and without balance.</p>
							</section>
							<div class="grey-background" style="background-image: url(http://placehold.it/750x565); background-size: cover;"></div>
						</div>
						<div class="col-sm-5 col-sm-push-1 matchHeight">
							<section class="alignMiddle padding-80-0">  
								<form class=" scrollme animateme" data-when="enter" data-from="1" data-to="0" data-opacity="0" data-scale="1.1">
									<input type="text" name="name" placeholder="Name">
									<input type="email" name="_replyto" placeholder="Email">
									<textarea name="comment" placeholder="Comment" rows="5"></textarea>
									<input type="submit" value="Post comment" class="btn btn-default">
								</form>
							</section>
						</div> 
					</div>
				</div>
			</div>

			<!-- Section -->
			<div class="container-fluid super-dark section no-padding">
				<div class="row">
					<div class="col-md-2 col-sm-4 col-xs-6 icon-grid share-this">
						<a href="#"></a>
						<i class="fa fa-facebook"></i>
						<h4>Facebook</h4>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-6 icon-grid share-this">
						<a href="#"></a>
						<i class="fa fa-instagram"></i>
						<h4>Instagram</h4>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-6 icon-grid share-this">
						<a href="#"></a>
						<i class="fa fa-linkedin"></i>
						<h4>Linked In</h4>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-6 icon-grid share-this">
						<a href="#"></a>
						<i class="fa fa-twitter"></i>
						<h4>Twitter</h4>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-6 icon-grid share-this">
						<a href="#"></a>
						<i class="fa fa-google-plus"></i>
						<h4>Google +</h4>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-6 icon-grid share-this">
						<a href="#"></a>
						<i class="fa fa-pinterest"></i>
						<h4>Pinterest</h4>
					</div>
				</div>
			</div>

		

		</div>
		
		
	</body>
</html>
{% endblock %}