{% extends "common/base.html" %}

{% load static %}

{% block content %}
<style>
	.board {
		padding-left: 60px;
		padding-right: 60px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.date {
		font-size: unset;
		margin: 0;
		color: #cbb27c;
		font-family: 'GRAND HOTEL', cursive;
		float: right;
	}

	.latest-post:before {
		width: 100%;
	}

	.remote-button {
		position: absolute;
		right: 0;
	}

	ul.horz-menu li span.search:after, ul.horz-menu li span.search:before {
		background-color:#1b1d1e;
	}
	ul.horz-menu li span.search2:after, ul.horz-menu li span.search:before {
		background-color:#1b1d1e;
	}

	#search_keyword {
		border:none; 
		margin-bottom:0; 
		background-color:#fff;
		text-align: center;
	}

	#search-type {
		border:none; 
		margin-bottom:0; 
		padding-left:50px;
		width: 170px;
	}

	.empty-page {
		width: auto;
		height: 400px;
		text-align: center;
		line-height: 400px;
	}
</style>
	
	<body class="single">

		<!-- Fake page loading -->
		<!-- <div id="fakeLoader"></div> -->

		<!-- Wrapper -->
		<div class="wrapper">

		
			

			<!-- Section -->
			<div class="container-fluid dark section no-padding">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
						<ul class="horz-menu">
							<p class="author center-menu">{{ user.alias }} / <a href="#comments">3 reviews</a></p>
								<li ><span class="search"><select name="search-type" id="search-type">
									<option value="">All</option>
									<option value="beer">Beer</option>
									<option value="wine">Wine</option>
									<option value="cocktail">Cocktail</option>
								</select></span></li>
								<li class="active"><span class="search2"><input type="text" id="search_keyword"></span></li>
								<li><span><a href='javascript:void(0);' onclick="keyword_search()" class="btn-default">Search</a></span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- Section -->
			<div class="container-fluid light section">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 single-blog">
							{% comment %} <img src="http://placehold.it/750x535" alt="Craft beer single blog post" /> {% endcomment %}
							<header>
								<span class="date">Name</span>
								<h2>{{ user.alias }}</h2>
								<span class="date">email</span>
								<h3>{{ user.email }}</h3>
							</header>	
						</div>
					</div>
				</div>
			</div>

			<!-- Section -->
			<div class="container-fluid section">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h3 id="comments">Reviews</h3>
						</div>
						<div class="col-sm-12 user-comments">
							{% for user_comment in u_c %}
								<div class="row scrollme animateme" data-when="enter" data-from="0.75" data-to="0" data-opacity="0" data-translatey="75">
								<div class="col-sm-1">
									<img src="/static/images/beer/{{ user_comment.product.image }}" style = "max-width: 200%; max-height: 200%; position: relative; left: -30px;" alt="Craft ale HTML template" />
								</div>
								<div class="col-sm-11">
									<h5>{{ user_comment.product.name }}</h5>
									<p>{{ user_comment.content }}</p>
									{% if request.session.user_id == user_comment.user_id or request.session.user_id == 38%}
									<span class="edit">
										<a href="/userpage/modify?comment_id={{user_comment.id}}">Edit</a> | <a href="/userpage/{{user_comment.id}}/delete/">Delete</a>
									</span>
									{% endif %}
								</div>
							</div>

							{% endfor %}

						</div>
					</div> 
				</div>
			</div>

		<!-- Section: paging -->
		<div class="container-fluid super-dark section no-padding">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<ul class="pagination" style=" display: block; text-align: center;">
							<ul class="horz-menu center-menu pages" >
							<!-- 이전페이지 -->
								{% if u_c.has_previous %}
       							 <li class="page-item">
       							     <a class="page-link" href="?email={{ user.email }}&page={{ u_c.previous_page_number }}"><</a>
       							 </li>
       							 {% else %}
       							 <li class="page-item disabled">
       							     <a class="page-link" tabindex="-1" aria-disabled="true" href="#"><</a>
       							 </li>
       							{% endif %}
								<!-- 페이지리스트 -->
								{% for i in pagination %}
									{% if u_c.number == i %}
        								<li class="active"><span><a href="?email={{ user.email }}&page={{ i }}">{{ i }}</a></span></li>
      								{% else %}
        								<li><span><a href="?email={{ user.email }}&page={{ i }}">{{ i }}</a></span></li>
      								{% endif %}
            					{% endfor %}
								<!-- 다음페이지 -->
        						{% if u_c.has_next %}
        							<li class="page-item">
        						    <a class="page-link" href="?email={{ user.email }}&page={{ u_c.next_page_number }}">></a>
        							</li>
        						{% else %}
        							<li class="page-item disabled">
        						    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">></a>
        							</li>
        						{% endif %}
							</ul>
						</div>
					</div>
				</div>
		</div>

	<script type="text/javascript">
	keyword_search = () => {
		console.log("search start")
		const keyword = $('#search_keyword').val()
		const category = $('#search-type').val()

		console.log("keyword: ", keyword)

		window.location.replace(`?email={{ user.email }}&category=${category}&keyword=${keyword.toLowerCase()}`);
	}
	{% if messages%}
		window.location.replace(`/userpage/?email={{ email }}&keyword=`);	
	{%endif%}
	</script>
	</body>
</html>
{% endblock %}